{% extends "base.html" %}

{% block content %}

<div class="docs-section" >
<h5 class="docs-header"> <a href="{% url 'certificaciones:detalles_cert' criterioproyecto.fk_proyecto.slug %}">{{criterioproyecto.fk_proyecto }}</a> </h5>
<h3 class="docs-header"> {{criterioproyecto.fk_criterio }} </h3>
<a href="{% url 'certificaciones:edita_crit_proy' criterioproyecto.id %}">Editar</a>

    <div class="row">
       <div class="twelve columns">
         <table>
           <tr><td><label>Cumple:</label>{{ criterioproyecto.get_cumple_display }}</td>
              <td><label>Puntos obtenidos:</label>{{ criterioproyecto.puntos_obtenidos|default_if_none:"0" }}</td>
              <td><label>Puntos máximos</label>{{criterioproyecto.puntos_max }}</td>
           <small>
          </table>
          <table>
            <thead>
              Metas
            </thead>
            <tbody>
              {% for meta in criterioproyecto.fk_criterio.metas.all %}
              <tr><td>{{meta.get_cumple_display}}</td>
                <td>
                {{meta.meta}}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <table>
            <thead>
              Requerimientos
            </thead>
            <tbody>
              {% for requerimiento in criterioproyecto.requerimientos.all  %}
              <tr><td>{{criterioproyecto.get_cumple_display}}</td>
                <td>
                {{requerimiento}}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <table>
            <thead>
              Evidencias
            </thead>
            <tbody>
              <tr><th><label>Cumple</label></th><th>Requerida</th><th>Presentada</th></tr>
              {% for evidencia in criterioproyecto.evidenciaproyecto_set.all  %}
              <tr><td>{{evidencia.get_cumple_display}}</td>
                <td>
                {{evidencia.get_evidencia}}
                </td>
                <td>{{evidencia.evidencia_presentada|default_if_none:"Ninguna"}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
             <ul>


       </div>

     </div>
  </div>
{% endblock %}
