{% extends "base.html" %}

{% block content %}

<h2>Actualiza criterio</h2>


  {{criterioproyecto}}
<form method="post">{% csrf_token %}

<table><tr>

          <td>{{ form.cumple.label }}:</td>
          <td> {{ form.cumple }}
            {{ form.cumple.errors }}</td>
            <td>{{ form.puntos_obtenidos.label }}:</td>
            <td> {{ form.puntos_obtenidos }}
              {{ form.puntos_obtenidos.errors }}</td>
</tr></table>

    <h3>Requerimientos</h3>
    {% for requerimiento in requerimientos %}
    {{requerimiento.as_table}}
    {% endfor %}
         <input type="submit" value="Guardar">
</form>
{% endblock %}
