{% extends "base.html" %}

{% block content %}

<h3 class="docs-header"> {{proyecto.fk_tipo.clave }} - {{proyecto.nombre}}</h3>
    <div class="row">
       <div class="six columns">
         <a href="{% url 'equipos:equipos_proy' proyecto.slug %}"> Equipos</a>

         <table>
           {% for etiqueta, valor in proyecto.lista_campos %}
             <tr>
               <td>{{ etiqueta }}</td>
               <td>{{ valor }}</td>
             {% endfor %}
         </table>
       </div>

     </div>
{% endblock %}
