{% extends "base.html" %}
{% block title %} 2Xangos - {{block.super}}{% endblock %}

{% block content %}

<h3 class="docs-header"> Proyectos</h3>


           <ul>
               {% for proyecto in object_list %}
               {% if proyecto.fk_tipo.id == 3 or  proyecto.fk_tipo.id == 4 %}
                  <li> <a href="{% url 'certificaciones:detalles_cert' proyecto.slug %}"> {{proyecto.fk_tipo.clave }} - {{proyecto.nombre}}</a></li>
                {% else %}
                  <li> <a href="{% url 'detalles' proyecto.slug %}">{{proyecto.fk_tipo.clave }} - {{proyecto.nombre}}</a></li>
                {% endif %}
               {% endfor %}
           </ul>

{% endblock %}
