{% extends "base.html" %}
{% block title %} 2Xangos - {{block.super}}{% endblock %}

{% block content %}

        <h3 class="docs-header">Hola</h3>

        <br>
        <img src='static/images/pp.jfif' height='465' width='300'  alt="John Gerrard Keulemans - Proceedings of the Zoological Society of London 1876 - https://commons.wikimedia.org/wiki/Category:Cebidae_illustrations#/media/File:HapaleLeucopusKeulemans.jpg">

        <p>Bienvenida</p>

        {% if user.is_authenticated %}
        <a class="button" href="{% url 'proyectos' %}">Tus proyectos</a>




        {% endif %}

{% endblock %}
